@theme {
  /* colors */
  --color-primary: #6786d1;
  --color-primary-dark: #003591;
  --color-secondary: #aabff1;
  --color-body-primary: #505050;
  --color-golden: #e7be5d;
  --color-light-golden: #ffe8b2;
}
